{% extends 'main_layout.html.twig' %}

{% block title %}Editar base de datos{% endblock %}

{% block main_title %}Editar Base de datos{% endblock %}

{% block main_content %}
   {{ form_start(form) }}

        <div class="form__group">
            {{ form_label(form.user, null, {'label_attr': {'class': 'form__label'}}) }}
            <div>
                {% if form.user.vars.valid == false %}
                    {{ form_widget(form.user, {'attr': {'class': 'form__control form__control--invalid'}}) }}
                {% else %}
                    {{ form_widget(form.user, {'attr': {'class': 'form__control'}}) }}
                {% endif %}
                <div class="form__error">
                    {{form.user.vars.errors}}
                </div>
            </div>
        </div>

        <div class="form__group">
            {{ form_label(form.password, null, {'label_attr': {'class': 'form__label'}}) }}
            <div>
                {% if form.password.vars.valid == false %}
                    {{ form_widget(form.password, {'attr': {'class': 'form__control form__control--invalid'}}) }}
                {% else %}
                    {{ form_widget(form.password, {'attr': {'class': 'form__control'}}) }}
                {% endif %}
                <div class="form__error">
                    {{form.password.vars.errors}}
                </div>
            </div>
        </div>

        <div class="form__group">
            {{ form_label(form.address, null, {'label_attr': {'class': 'form__label'}}) }}
            <div>
                {% if form.address.vars.valid == false %}
                    {{ form_widget(form.address, {'attr': {'class': 'form__control form__control--invalid'}}) }}
                {% else %}
                    {{ form_widget(form.address, {'attr': {'class': 'form__control'}}) }}
                {% endif %}
                <div class="form__error">
                    {{form.address.vars.errors}}
                </div>
            </div>
        </div>

        <div class="form__group">
            {{ form_label(form.database, null, {'label_attr': {'class': 'form__label'}}) }}
            <div>
                {% if form.database.vars.valid == false %}
                    {{ form_widget(form.database, {'attr': {'class': 'form__control form__control--invalid'}}) }}
                {% else %}
                    {{ form_widget(form.database, {'attr': {'class': 'form__control'}}) }}
                {% endif %}
                <div class="form__error">
                    {{form.database.vars.errors}}
                </div>
            </div>
        </div>

        <div class="form__group">
            {{ form_label(form.exposedPort, null, {'label_attr': {'class': 'form__label'}}) }}
            <div>
                {% if form.exposedPort.vars.valid == false %}
                    {{ form_widget(form.exposedPort, {'attr': {'class': 'form__control form__control--invalid'}}) }}
                {% else %}
                    {{ form_widget(form.exposedPort, {'attr': {'class': 'form__control'}}) }}
                {% endif %}
                <div class="form__error">
                    {{form.exposedPort.vars.errors}}
                </div>
            </div>
        </div>

        <div class="form__button-group">
            {{ form_row(form.edit, { 'label': 'Editar', 'attr': { 'class': 'button form__button-group-item'} }) }}
            <a class="button button--dark form__button-group-item" href="{{ path('database_index') }}">Volver</a>
        </div>
   {{ form_end(form) }}
{% endblock %}