<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://kit.fontawesome.com/91a644f283.js" crossorigin="anonymous"></script>
    </head>
    <body class="body" style="display:flex;">
        {% block body %}
        <div id="sidebar" class="sidebar">
            <div class="sidebar__company-container">
                <figure class="sidebar__logo-container">
                    <img class="sidebar__logo" src="{{ asset('images/Tiendas_Icon.png') }}" alt="Image could not be loaded" style="width:100%">
                    {# <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption> #}
                </figure>
                <span class="sidebar__company-name">Conector</span>
            </div>
            <ul class="sidebar__list">
                <li class="sidebar__list-item">
                    <a class="sidebar__list-link" href="{{ path('database_index') }}"><i class="fa-solid fa-database sidebar__list-icon"></i>Base de datos</a>
                </li>
                <li class="sidebar__list-item">
                    <a class="sidebar__list-link" href="{{ path('shop_index') }}"><i class="fa-solid fa-shop sidebar__list-icon"></i>Tiendas</a>
                </li>
                <li class="sidebar__list-item">
                    <a class="sidebar__list-link" href="{{ path('server_index') }}"><i class="fa-solid fa-server sidebar__list-icon"></i></i>Servidor</a>
                </li>
                <li class="sidebar__list-item">
                    <a class="sidebar__list-link" href="{{ path('synchronisation_index') }}"><i class="fa-solid fa-retweet sidebar__list-icon"></i>Sincronización</a>
                </li>
            <li class="sidebar__list-item">
                    <a class="sidebar__list-link" href="{{ path('log_index') }}"><i class="fa-solid fa-book sidebar__list-icon"></i>Logs</a>
                </li>
            </ul>
        </div>

        <main class="main" style="width:100%;">
            {% block main %}{% endblock %}
        </main>

        {% endblock %}
    </body>
</html>
