<div class="table-container">
    <table class="table">
        <thead class="table__head">
            <tr>
                <th class="table__cell-head">Nombre</th>
                <th class="table__cell-head">Usuario</th>
                <th class="table__cell-head">Dominio/Ip</th>
                <th class="table__cell-head">Puerto</th>
                <th class="table__cell-head">Tipo</th>
                <th class="table__cell-head">Servidor</th>
                <th class="table__cell-head">Status</th>
                <th class="table__cell-head">Acciones</th>
            </tr>
        </thead>
        <tbody class="table__body">
            {% for connection in this.connections %}
            <tr>
                {% if connection.database is defined %}
                    <td class="table__cell">{{ connection.database }}</td>
                {% else %}
                    <td class="table__cell">Ninguno</td>
                {% endif %}
                {% if connection.user is defined %}
                    <td class="table__cell">{{ connection.user }}</td>
                {% else %}
                    <td class="table__cell">Ninguno</td>
                {% endif %}
                {% if connection.address is defined %}
                    <td class="table__cell">{{ connection.address }}</td>
                {% else %}
                    <td class="table__cell">Ninguno</td>
                {% endif %}
                {% if connection.exposedPort is defined %}
                    <td class="table__cell">{{ connection.exposedPort }}</td>
                {% else %}
                    <td class="table__cell">Ninguno</td>
                {% endif %}
                <td class="table__cell">{{ connection.type }}</td>
                {% if connection.server is defined %}
                    <td class="table__cell">{{ connection.server }}</td>
                {% else %}
                    <td class="table__cell">Ninguno</td>
                {% endif %}
                <td class="table__cell table__cell-status">
                    {% if connection.status == false %}
                        <div class="table__status">
                            <div class="table__badge-dot table__badge-dot--disconnected"></div>
                            <span class="table__status-message">{{ connection.message }}</span>
                        </div>
                    {% else %}
                        <div class="table__status">
                            <div class="table__badge-dot"></div>
                            <span class="table__status-message">Conectado</span>
                        </div>
                    {% endif %}
                </td>
                {% if connection.type == 'sqlServer' %}
                    <td class="table__cell"><a class="button" href="{{ path('database_authentication_options') }}"><i class="fa-solid fa-pen table__icon-button"></i>Editar</a></td>
                {% else %}
                    <td class="table__cell"><a class="button" href="{{ path('database_post_edit', {id: connection.type}) }}"><i class="fa-solid fa-pen table__icon-button"></i>Editar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>